{% extends "base.html" %}

{% block page_content %}

<h1>Enter a Date</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="StartDateInput">DATE OF BIRTH:</label>
        <input type="date" id="StartDateInput" name="StartDateInput">
        <label for="EndDateInput" style="margin-left: 10px;" >AGE AT THE DATE OF:</label>
        <input type="date" id="EndDateInput" name="EndDateInput">
        <button type="submit" style="margin-left: 10px;">Submit</button>
    </form>

    {% if years is not None and months is not None %}
        <div class="result">
            The Age is <strong>{{ years }}</strong> years , <strong>{{ months }}</strong> months and <strong>{{ days }}</strong> days .
        </div>
        {{ text }}
    {% else %}
        <div class="error">
            Please provide valid inputs.
        </div>
    {% endif %}

<h1>Age Calculator</h1>
<h3>The Age Calculator can determine the age or interval between two dates. The calculated age will be displayed in years, months, weeks, days, hours, minutes, and seconds.</h3>
<h3>The age of a person can be counted differently in different cultures. This calculator is based on the most common age system. In this system, age increases on a person's birthday. For example, the age of a person who has lived for 3 years and 11 months is 3, and their age will increase to 4 on their next birthday one month later. Most western countries use this age system.

In some cultures, age is expressed by counting years with or without including the current year. For example, a person who is twenty years old is the same age as another person who is in their twenty-first year of life. In one of the traditional Chinese age systems, people are born at age 1 and their age increases up at the Traditional Chinese New Year rather than their birthday. For example, if one baby is born just one day before the Traditional Chinese New Year, 2 days later, the baby will be 2 even though he/she is only 2 days old.

    In some situations, the months and day result of this age calculator may be confusing, especially when the starting date is the end of a month. For example, we count Feb. 20 to Mar. 20 to be one month. However, there are two ways to calculate the age from Feb. 28, 2022 to Mar. 31, 2022. If we consider Feb. 28 to Mar. 28 to be one month, then the result is one month and 3 days. If we consider both Feb. 28 and Mar. 31 as the end of the month, then the result is one month. Both calculation results are reasonable. Similar situations exist for dates like Apr. 30 to May 31, May 30 to June 30, etc. The confusion comes from the uneven number of days in different months. In our calculations, we use the former method.</h3>


{% endblock %}